* {
	margin:0;
	padding:0;
	font-family: sans-serif;
}

nav {
	width: 100%;
	height: 10vh;
	background:#151719;
	z-index: 100;
}

nav#sidebar div.container{
	width: 100%;
	height: 100%;
}

nav div.container div#burger-btn {
	display: none;
}

nav div.container div#logo{
	float: left;
	color: white;
	font-size: 1.75em;
	font-weight: bold;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav div.container ul {
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	height: 100%;
	margin: 0;
}

nav div.container ul li {
	display: inline-block;
	color: rgba(230,230,230,0.9);
	list-style: none;
	font-size: 1.25em;
	font-weight: bold;
	padding-left: 1em;
}

nav div.container ul li a {
	color: rgba(230,230,230,0.9);
	text-decoration: none;
}


nav div.container ul li.user {
	border-left: 5px solid black;
}

@media only screen and (max-width:720px){
	nav {
		position:fixed;
		width: 200px;
		height: 100vh;
		background:#151719;
		left: -200px;
	}	

	nav div.container {
	  width: 100%;
	  padding-right: 0;
	  padding-left: 0;
	  margin-right: 0;
	  margin-left: 0;
	}

	nav.active {
		position:fixed;
		left: 0px;
		height: auto;
	}

	nav div.container div#burger-btn {
		position: fixed;
		display: block;
		left: 30px;
		top: 20px;
		font-weight: bold;
	}

	nav div.container div#logo {
		display: none;
	}

	nav.active div.container ul {
		display: block;
		float: left;
		width: 100%;
		height: 100vh;
	}

	nav div.container ul li {
		color: rgba(230,230,230,0.9);
		list-style: none;
		padding: 5% 4%;
		border-bottom: 1px solid rgba(100,100,100,0.3);
		display: none;
		width: 100%;
		font-size: 1em;
		font-weight: normal;
	}

	nav.active div.container ul li {
		display: block;
	}
	nav.active div.container div#burger-btn {
		left: 230px;
	}
}